/*PERMISSION BUTTONS*/
.buttonRow {
  display: flex;
  flex-direction: row;
}

.unselectedPermission {
  background-color: #ffffff;
  color: black;
}

.selectedPermission {
  background-color: #a9a8a8;
  color: white;
}

#adminButton {
  box-sizing: border-box;
  width: 188px;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#volunteerButton {
  box-sizing: border-box;
  width: 188px;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*END PERMISSION BUTTONS*/
/*ADD ACCOUNT*/
#addAccountButton {
  width: 248px;
  height: 36px;
  background: #b0b0b0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createAccountRow {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  column-gap: 2em;
  justify-content: flex-end;
  align-items: center;
}

.formInput {
  background-color: #d9d9d9;
  border: none;
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 16px;
  line-height: 19px;
  border-radius: 16px;
  width: 30em;
  height: 36px;
  padding-left: 20px;
}

.invalidEmailMessage {
  font-weight: bold;
  font-style: italic;
  color: red;
}

/*END ADD ACCOUNT*/
/*ACCESS PAGE STRUCTURE*/
#accessPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  background-color: #ffffff;
}

#formSection {
  border: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: #bbbbbb;
  padding: 38px;
  margin: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  height: 20%;
  width: 90%;
  font-family: sans-serif;
}

/*END ACCESS PAGE STRUCTURE*/
/*TABLE*/
.tableDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: sans-serif;
}

.table {
  overflow: auto;
}

.tableHead {
  background-color: #d9d9d9;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.tableBody {
  overflow-y: auto;
  overflow-x: scroll;
  height: 100%;
  border-bottom: 0.5px solid #000000;
}

.th,
.td {
  margin: 200px;
  position: relative;
  text-justify: left;
  padding: 1em;
  overflow-x: wrap;
}

.tableRow {
  border-bottom: 0.5px solid #000000;
}

/*EDIT AND DELETE BUTTONS*/

.actionButton {
  background-color: #a9a8a8;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 10px;
}

/*END TABLE*/

/*TEXT*/
@font-face {
  font-family: "Inter", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
  font-style: normal;
}

.header1 {
  font-family: sans-serif;
  font-weight: 550;
  font-size: 24px;
  line-height: 29px;
}

.header2 {
  font-family: sans-serif;
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
}

.text {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
