name: dev-deploy

on: [pull_request]
jobs:
  deploy-web:
    runs-on: ubuntu-latest
    # environment:
    #   name: Development
    #   url: ${{ steps.vercel.outputs.preview-url }}
    outputs:
      preview_url: ${{ steps.vercel.outputs.preview-url }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Deploy to Vercel
        id: vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID }}
          vercel-project-id: ${{ secrets.PROJECT_ID}}
          working-directory: ./web

  # deploy-mobile:
  #   runs-on: ubuntu-latest
  #   environment:
  #     name: Development
  #     url: ${{ steps.vercel.outputs.preview-url }}
  #   steps:
  #     - name: Checkout repo
  #       uses: actions/checkout@v2
