name: dev-deploy

on: [pull_request]
jobs:
  deploy-web:
    runs-on: ubuntu-latest
    outputs:
      preview_url: ${{ steps.vercel.outputs.preview-url }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Deploy to Vercel
        id: vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-org-id: ${{ secrets.ORG_ID }}
          vercel-project-id: ${{ secrets.PROJECT_ID}}
          working-directory: ./web

  deploy-mobile:
    runs-on: ubuntu-latest
    environment:
      name: Development
    needs: deploy-web
    defaults:
      run:
        working-directory: ./mobile
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm

      - name: Setup Expo
        uses: expo/expo-github-action@v7
        with:
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: yarn install

      # - name: Get commit message
      #   id: commit_msg
      #   run: echo "::set-output name=head-commit-msg::$(git show -s --format=%s)"

      - name: Publish update
        # run: VERCEL_URL="${{ needs.deploy-web.outputs.preview_url }}" eas update --branch pr-${{ github.event.number }} --message "${{ steps.commit_msg.outputs.head-commit-msg }}"
        run: VERCEL_URL="${{ needs.deploy-web.outputs.preview_url }}" eas update --branch pr-${{ github.event.number }} --auto

      # - name: Create a QR code
      #   id: qr
      #   uses: expo/expo-preview-action@v1
      #   with:
      #     channel: pr-${{ github.event.number }}

      # - name: Comment QR code
      #   uses: kentaro-m/qr-code-commenter-action@v0.1.2
      #   with:
      #     repo-token: "${{ secrets.GITHUB_TOKEN }}"
      #     content: "exp+angels-among-us://expo-development-client/?url=https://u.expo.dev/${{ secrets.EXPO_PROJECT_ID }}?channel-name=pr-${{ github.event.number }}"
      #     comment: |
      #       :lock: Access the development build of this commit with the following QR code:
      #       :iphone: Note that you must have been granted access as a tester to be able to use this code.
      #       {qrcode}
      - name: Comment QR code
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: >
            Preview the PR:<br><br>
            <img src="https://api.qrserver.com/v1/create-qr-code/?data=exp%3A%2F%2Fu.expo.dev%2F${{ secrets.EXPO_PROJECT_ID }}%3Fchannel-name%3Dpr-${{ github.event.number }}%26runtime-version%3Dexposdk%3A47.0.0" height="100px" width="100px" />
