name: "coverage"
on:
  pull_request:
    branches:
      - '*'
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate coverage report
        id: coverage
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          working-directory: web
          test-script: yarn jest --coverage --collectCoverageFrom='./**/*.{ts,tsx}'
          package-manager: yarn
          output: comment, report-markdown

      - name: Markdown comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: ${{ steps.coverage.outputs.report }}
